<h1>Pack Totals</h1>
<h2>After {{{total}}} 5* Cards Pulled</h2>

	<table>
		<thead>
			<tr>
				<th>Pack Name</th>
				<th>Pulls</th>
			</tr>
		</thead>
		<tbody class="list">
		  {{#each results}}
		    <tr>
		    	<td class="name">{{_id}}</td>
		    	<td class="count">{{{value}}}</td>
		    </tr>
		  {{/each}}
		  <tr>
		  	<td><strong>Total</strong></td>
		  	<td><strong>{{{total}}}</strong></td>
		  </tr>
		</tbody>
	</table>




<div>{{{error}}}</div>

